<html>

<head>
    <style>
        body {
            background: #b97373;
            background-size: cover;
        }
        
        .t6 {
            border-radius: 5px;
            box-shadow: 20px 20px 40px #9d6262, -20px -20px 40px #d58484;
        }
        
        ul {
            list-style: none;
        }
    </style>
</head>

<body>
    <header>
        <div>
            <ul>
                <li>
                    <a href="{% url 'home' %}">Back</a>
                </li>
            </ul>
        </div>
    </header>
    <div class="table6">
        <section>
            <h1 align='center'>
                <font size='34'>June</font>
            </h1>
            <center>
                <table class="t6" border='1' cellpadding='10' cellspacing='2'>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Fri</th>
                    <th>Sat</th>
                    <tr><br>
                        <td></td>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                    </tr><br>
                    <tr>

                        <td>7</td>
                        <td>8</td>
                        <td>9</td>
                        <td>10</td>
                        <td>11</td>
                        <td>12</td>
                        <td>13</td>
                    </tr><br>
                    <tr>

                        <td>14</td>
                        <td>15</td>
                        <td>16</td>
                        <td>17</td>
                        <td>18</td>
                        <td>19</td>
                        <td>20</td>
                    </tr><br>
                    <tr>

                        <td>21</td>
                        <td>22</td>
                        <td>23</td>
                        <td>24</td>
                        <td>25</td>
                        <td>26</td>
                        <td>27</td>
                    </tr><br>
                    <tr>

                        <td>28</td>
                        <td>29</td>
                        <td>30</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr><br>

                </table>
            </center>
        </section>
    </div>
</body>

</html>